body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header,
.footer {
  background-color: #1F2937;
}

.header {
  padding: 10px 200px;
}

.header-logo,
.hero-alternative-text {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-secondary-text,
.link-texts {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-secondary-text {
  margin-bottom: 10px;
}

button {
  background-color: #3882F6;
  color: white;
  padding: 8px 32px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.info {
  text-align: center;
  padding: 50px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.image-text-container {
  width: 150px;
}

.image-container {
  width: 150px;
  height: 150px;
  border: 4px solid blue;
  border-radius: 15px;
  margin-bottom: 10px;
}

.info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 50px;
}

.quote-container {
  font-size: 22px;
  background-color: #E5E7EB;
  padding: 150px 300px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  color: #1F2937;
}

.quote-author {
  font-weight: 700;
  align-self: flex-end;
}

.sign-up-alternative {
  background-color: #3882F6;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.link-texts {
  display: flex;
  gap: 20px;
}

.sign-up-texts {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.hero-image {
  width: 500px;
  height: auto;
}
